<mat-toolbar class="nav-container">
  <nav class="nav-links">
    <a mat-button routerLink="/auth" routerLinkActive="active">Login/ Register</a>
    <a mat-button routerLink="/homePage" routerLinkActive="active">Home Page</a>
    <a mat-button routerLink="/list" routerLinkActive="active">course List</a>
    <a mat-button routerLink="/teacher" routerLinkActive="active">Teachers</a>
    <a mat-button routerLink="/CourseSyllabus" routerLinkActive="active">Course Syllabus</a>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>