<h2> Courses List</h2>
<mat-card>
  <mat-accordion>
    @for (course of list; track course.id) {

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div>
          <button mat-raised-button (click)="JoinCourse(course.id)">
            Join Course
          </button>
          <button mat-raised-button (click)="LeaveCourse(course.id)">
            Leave Course
          </button>
          <mat-panel-title>
            {{ course.title }}
          </mat-panel-title>
        </div>
      </mat-expansion-panel-header>
      <h4> course description: </h4>
      <p>{{ course.description }}</p>
    </mat-expansion-panel>
    }
  </mat-accordion>

</mat-card>